<h1>My Hangout Friends</h1>

<table cellspacing="20">
  <tr>
    <th>Username</th>
    <th>Name</th>
  </tr>
  <%@friends.each do |u|%>
  <tr>
    <td><%=link_to u.username, u%></td>
    <td><%=u.to_s%></td>
    <%end%>
  </tr>
</table>

<h3>Add More Friends</h3>

<%= form_tag(friendships_path, method: "post") do %>
  <%= collection_check_boxes(:user, :friend_ids, @nonfriends, :id, :username_with_full_name)%>
  <%= submit_tag("Add Friends")%>
<%end%>



<!-- ????? weird -how come when i program friend: u above, it captures this (within params) as a number - as the u's id. number, instead of u itself, where u is written to be the object? This is forcing me to use user_id vs. user objects...-->

<!-- learning more - I notice that actually, these objects do NOT have objectID's - that they are actually hashes, so no wonder ActiveRecord is complaining - i'm trying to give a friend instance, but I'm giving a hash of info about that instance - perhaps because with these approaches, we are not instantiating records from table into short term memory? must use id... -->
