<!DOCTYPE html>
<html>
  <head>
    <title>MyHangouts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><MyHangouts></h1>
      <%if current_user_id%>
      You are logged in as: <%=User.find(current_user_id).username%>
      <%else%>
      You are not logged in.
      <%end%>
    <%= yield %>
  </body>
</html>
