<!DOCTYPE html>
<html>
  <head>
    <title>MyHangouts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><MyHangouts></h1>
      <%if signed_in?%>
      You are signed in as: <%=current_user.username%><br/>
      <%=link_to "Sign Out", sessions_path, method: "delete"%>
      <%else%>
      You are not signed in.
      <%end%>
    <%= yield %>
  </body>
</html>
